$nice-grey: #e7e8e9;
$grey: #C4C4C4;
$white: #ffffff;
$black: #000000;
$marble-blue: #566D7E;
$slate-blue: #2B487F;
$dark-slate-blue: #2B3856;
$cool-blue: #567890;
$green-steel: #2C4750;
$dark-blue-steel: #2C3E50;
$grey-font-color: #D6DBDF;

.body {
  margin: 0;
}

.title {
  background-color: $nice-grey;
  color: $cool-blue;
  margin: 0px;
  font-size: 35px;
  line-height: 45px;
}

.pic-canvas {
  float: left;
  background-color: $nice-grey;
}

.sidebar {
  float: left;
  height: 100%;
  width: 50px;
  background-color: $marble-blue;
}

.page {
  position: absolute;
  height: calc(100% - 45px);
  width: 100%;
  background-color: $nice-grey;
  overflow: hidden;
}

.top-bar {
  float: left;
  width: 100%;
  background-color: $dark-slate-blue;
  border-bottom: solid;
  border-bottom-width: 1px;
}

.canvas-container {
  float: left;
  height: 100%;
  width: calc(100% - 50px);
}

.sidebar-option {
  text-align: center;
  color: $grey-font-color;
  background-color: $dark-blue-steel;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: $black;
  &:hover {
    background-color: $green-steel;
  }
}

.top-bar-option {
  float: left;
  margin-right: 5px;
  border: none;
  width: 80px;
  color: $grey-font-color;
  text-align: center;
  cursor: pointer;
  line-height: 22px;
  &:hover {
    background-color: $slate-blue;
  }
}
